<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Project Test Unit">
      <directory>tests/Unit</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_MODE" value="testing"/>
    <env name="PROCESS_MODE" value="DEFAULT"/>
    <env name="APP_LOG_DIR" value="/home/arun/work/productup-challenge-xml-data-importer-stdin/log"/>
    <env name="APP_LOG_FILENAME" value="app_log.log"/>
    <env name="DEFAULT_DIR_PATH" value="/home/arun/work/productup-challenge-xml-data-importer-stdin"/>
  </php>
</phpunit>
